@model List<HoThiThuTrang_2120110029.Context.Category>
@{
    ViewBag.Title = "Index";
}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">

                <div class="card ">
                    <div class="img-wrap">
                        <img src="~/Content/category/@item.Avatar">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><a href="@Url.Action("ProductCategory", "Category", new { Id =item.Id })">@item.Name</a></h4>
                    </div>
                </div>
            </div> <!-- col.// -->
            }
        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
